In [1]:
%load_ext sql
%sql sqlite://

In [2]:
%%sql
CREATE TABLE nodes(
    id INT PRIMARY KEY,
    value VARCHAR
);
CREATE TABLE edges(
    id INT PRIMARY KEY,
    source INT NOT NULL,
    label VARCHAR,
    target INT NOT NULL
);

 * sqlite://
Done.
Done.

[]

In [3]:
%%sql
INSERT INTO nodes VALUES
    (0, NULL),
    (1, "INT"),
    (2, NULL),
    (3, "INT"),
    (4, NULL),
    (5, "DATE");

INSERT INTO edges VALUES
    (0, 0, "a", 1),
    (1, 2, "a", 3),
    (2, 4, "b", 5);

 * sqlite://
6 rows affected.
3 rows affected.

[]

In [4]:
%%sql
SELECT s.value AS source, e.label, t.value AS target
FROM nodes s JOIN edges e JOIN nodes t
ON s.id = e.source AND e.target = t.id;

 * sqlite://
Done.

[(None, 'a', 'INT'), (None, 'a', 'INT'), (None, 'b', 'DATE')]